body
{
    background: url("img/background.png"); /* Background pattern from Toptal Subtle Patterns */
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}
header#mainheader
{
    background: #1b1ac7;
    text-shadow: 
    1px 1px #0d2180,
    -1px 1px #0d2180,
    1px -1px #0d2180,
    -1px -1px #0d2180;
    font-size: 2.75em;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1px;
    margin-bottom: 10px;
    min-height: 120px;
}
header#mainheader p
{
    font-size: 0.5em;
    text-shadow: none;
    letter-spacing: normal;
    color: #aaa;
}
main
{
    width: 90%;
    box-sizing: border-box;
    height: 75vh;
    background: #6f9;
    margin: auto;
    border: 1px solid white;
    overflow: visible;
    text-align: center;
}
nav
{
    float: left;
    margin: 0;
    vertical-align: middle;
}
article#formulas
{
    float: left;
    height: 100%;
    overflow: scroll !important;
    text-align: left;
}
article::-webkit-scrollbar-corner
{
    background-color: transparent;
}
article#content
{
    float: left;
    width: 50vw;
    padding: 50px;
    text-align: center;
    overflow: visible;
    margin: auto;
}
footer
{
    background: white;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    padding: 10px 10px;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: left;
    height: 45px;
    position: relative;
}
.subject
{
    width: 15vw;
    height: 2.63vh;
    background-color: #add8e6;
    text-align: center;
    font-size: 1.5em;
    padding: 4vh 0;
    border-bottom: 1px dashed blue;
    cursor: pointer;
    transition: 0.3s all ease-out;
}
.subject:hover
{
    transform: scale(1.25);
    border-top: 1px dashed blue;
}
#specialSubject:hover
{
    transform: scale(1.25);
    border-top: none !important;
}
.subject:last-child
{
    border-bottom: none;
}
.formula
{
    width: 300px;
    min-height: 10px;
    max-height: 50px;
    border: #a52a2a 1px solid;
    padding: 60px 5px;
    margin: 10px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.5em;
    transition: ease-in-out 0.25s all;
    cursor: pointer;
}
.formula:hover
{
    background-color: #3c6;
    border-color: #830808;
}
.formwrapper
{
    margin-left: 25px;
}
.left
{
    text-align: left;
    display: block;
    margin-right: 10px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.right
{
    text-align: right;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
#bigformula
{
    border: #7a0000 1px solid;
    width: 100%;
    min-height: 100px;
    -webkit-box-shadow: 35px 26px 69px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 35px 26px 69px 2px rgba(0,0,0,0.75);
    box-shadow: 35px 26px 69px 2px rgba(0,0,0,0.75);
    text-align: center;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    padding: 150px 0;
}
#explanation /* FIXME: naprawić relacje padding - height */
{
    border: #7a0000 1px solid;
    width: 100%;
    margin-top: 30px;
    min-height: 200px;
    -webkit-box-shadow: 35px 26px 69px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 35px 26px 69px 2px rgba(0,0,0,0.75);
    box-shadow: 35px 26px 69px 2px rgba(0,0,0,0.75);
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.exoformula
{
    border: 0;
    cursor: default;
}
.exoformula:hover
{
    background-color: inherit;
}

/* Mniejsze urządzenia SMALLER DEVICES */

@media only screen and (max-width: 1870px)
{
    article#content
    {
        width: 40vw;
        padding: 40px;
    }
    #bigformula
    {
        font-size: 2em;
    }
    article#content
    {
        margin-left: 4vw;
    }
}
@media only screen and (max-width: 1700px)
{
    .subject
    {
        font-size: 1.25em;
    }
    footer
    {
        font-size: 1.25em;
    }
    header#mainheader
    {
        font-size: 2.3em;
    }
}
@media only screen and (max-width: 1410px)
{
    .subject
    {
        font-size: 1em;
    }
    footer
    {
        font-size: 1em;
    }
    header#mainheader
    {
        font-size: 2em;
    }
    #bigformula
    {
        font-size: 1.6em;
    }
    article#content
    {
        margin: 0;
    }
}
@media only screen and (max-width: 1270px)
{
    article#content
    {
        width: 30vw;
        padding: 20px;
    }
    header#mainheader
    {
        font-size: 1.75em;
    }
    #bigformula
    {
        font-size: 1em;
    }
} /* TODO: mobile version for screens < 900px */
@media only screen and (max-height: 940px)
{
    footer
    {
        font-size: 1.25em;
    }
}
@media only screen and (max-height: 920px)
{
    #bigformula
    {
        padding: 100px 0;
    }
}
@media only screen and (max-height: 780px)
{
    #bigformula
    {
        padding: 85px 0;
        -webkit-box-shadow: 35px 26px 40px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 35px 26px 40px 1px rgba(0,0,0,0.5);
        box-shadow: 35px 26px 40px 1px rgba(0,0,0,0.5);
        font-size: 2em;
        height: 30px;
    }
    #explanation
    {
        margin-top: 15px;
        -webkit-box-shadow: 35px 26px 40px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 35px 26px 40px 1px rgba(0,0,0,0.5);
        box-shadow: 35px 26px 40px 1px rgba(0,0,0,0.5);
    }
}
@media only screen and (max-height: 700px)
{
    article#content
    {
        padding-top: 10px;
        padding-left: 10px;
    }
    main
    {
        overflow: scroll;
    }
}
